/* =====================
   RESET / BASE
===================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--bg-main);
  color: var(--text-main);
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s ease;
}

img {
  max-width: 100%;
  display: block;
}

section {
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4 {
  color: var(--text-soft);
}

h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

p {
  line-height: 1.7;
  color: var(--text-main);
}
